extends ../layoutloggedin

block content
  .container
        .row.whos-this-for
          col-md-12.whos-this-for
            h3 Who Is This For
        .row
          .col-md-3
            label.teamnamelabel
              | Team Name
            input.teamnameinput.form-control(type='text', placeholder='Add a Team Name')      
        #fields.control-group
          label.teammemberlabel
            | Add Team Members
          p At the current time Gather can only handle teams between 6 and 10 people
          div.form-inline
            .form-group  
              input#firstName.form-control(type='text', placeholder='First Name')
            .form-group
              input#lastName.form-control(type='text', placeholder='Last Name')
            .form-group
              input#email.form-control(type='text', placeholder='Email')
            button#AddTeamMember.btn.add-more(type='button') + Add Member
          form.form-inline(id='CreateTeamForm', method='POST' action='/createteam')
            .container
              #TeamMembersList.row
                .form-group
                  input(type='hidden', name='_csrf', value=_csrf)
                  input#hiddenTeamName.form-control(type='text',name='teamname' placeholder='Team Name')
                  input#hiddenTeamSize.form-control(type='text',name='teamsize' placeholder='Team Name')
                //- form.form-inline
                  //- #teamMember1.teammember.row
                  //-   .form-group
                  //-     input#teamMemberFName1.form-control(type='text', placeholder='First Name')
                  //-   .form-group
                  //-     input#teamMemberLName1.form-control(type='email', placeholder='Last Name')
                  //-   .form-group
                  //-     input#teamMemberEmail1.form-control(type='email', placeholder='Email')
                  //-   button.btn.remove-me(type='button') - 
                  //- #teamMember2.teammember.row
                  //-   .form-group
                  //-     input#teamMemberFName2.form-control(type='text', placeholder='Jane Doe')
                  //-   .form-group
                  //-     input#teamMemberLName2.form-control(type='email', placeholder='jane.doe@example.com')
                  //-   .form-group
                  //-     input#teamMemberEmail2.form-control(type='email', placeholder='jane.doe@example.com')
                  //-   button.btn.remove-me(type='button') - 
                
                //- button#SaveTeam.btn.btn-default(type='submit' disabled="disabled") Save
                button#SaveTeam.btn.btn-default(type='submit') Save
                  
                    

    
