extends ../layoutloggedin

block content
  .container
    .container.section
      .row
        .col-md-4.col-md-offset-4
          h2 Hi, #{user.profile.firstname}!
          |       
          h3
            | You have 1 order in progress. Check its 
            a(href='#') details
            | .
          |       
          .create-order
            a#PlaceOrderBtn.btn.btn-primary(href='/placeorder')
                 | Place an Order
    .container.section
      .row
        .col-md-4.admin-tab-bg
          .admin-tab
            h4 Order History
            |         
            p See your past orders, reprint receipts and check out your team&apos;s favorite meals.
            |         
            .admin-button View History
        |     
        .col-md-4.admin-tab-bg
          .admin-tab
            h4 My Account
            |         
            p Manage your payments, addresses, personal details and teams.
            |         
            .admin-button Account Details
        |     
        .col-md-4.admin-tab-bg
          .admin-tab
            h4 Help &amp; Suport
            |         
            p
              | Got a question? Check out our 
              a(href='#') FAQ
              | ! Can&apos;t find an answer? Shoot us a note and we&apos;ll return shortly.
            |         
            .admin-button Contact Us
