extends ../layout

block content
  #Home.jumbotron
    #Top.container
      .row
        .col-md-4.col-md-offset-4.splash
          p Hi #{user.profile.name}
          a.btn.btn-primary(href='/placeorder', target='_blank')
            | Place an Order
  .container
    .row
      .col-md-4
        h3 Order History
        p
          | Gather curates a daily menu, sourcing high quality and nutiritous food for you and your team.
      .col-md-4
        h3 My Account
        p
          | Our ‘food mood’ selection process makes it easy to choose food that suits the entire team.
      .col-md-4
        h3 Help and Support
        p
          | We don’t just deliver, we set up your lunch family stlye so you can spend more time enjoying, and less time prepping.
  
