extends ../layoutloggedin

block content
  .container
        .row.whos-this-for
          col-md-12.whos-this-for
            h3 Order History
  #AllOrders.container
    .col-md-12.holder
      .row.ordersheader
        .col-md-3.col-xs-3 Date
        .col-md-3.col-xs-5 Team Name
        .col-md-offset-5.col-md-1.col-xs-offset-1.col-xs-1 Details 
      if user.orders.length
        -console.log(user.orders.length)
        -for (i=user.orders.length; i>0; i--)
            if(user.orders[i-1].status=="placed")
              .col-xs-12.ordersrow
                .row
                    .col-md-3.col-xs-3.orderdate=user.orders[i-1].dateplaced.split(" ")[1]+"."+" "+user.orders[i-1].dateplaced.split(" ")[2]+" "+user.orders[i-1].dateplaced.split(" ")[3]
                      //- | orders.dateplaced
                    .col-md-3.col-xs-4.orderteamname=user.orders[i-1].team.teamname
                    .col-md-offset-5.col-md-1.col-xs-offset-2.col-xs-1.viewbutton 
                      a.vieworderbtn(href="/orders/"+user.orders[i-1].orderidforemail) View
      else 
        p "sawry no orders yet..."
              
