extends ../layoutloggedin

block content
  .container
        .row.whos-this-for
          col-md-12.whos-this-for
            h3 Who Is This For
        .container
          .row.who-its-for
              .col-md-6
                .spacer
                  button 
                    | + ADD NEW TEAM    
              .col-md-6
                .spacer
                  button
                    | + ADD NEW TEAM  
              #TeamEmptyState.row
                .row
                  .col-md-6.col-md-offset-3      
                    h3 Who's On Your Team
                .row
                  .col-md-6.col-md-offset-3.your-team
                    img(id="AddMemberBackgroundImg" src='img/addmember@2x.png')
                    p  Tap “ + Add New Team” to get the party started!      
