extends ../layoutloggedin

block content
  .container
        .row.whos-this-for
          col-md-12.whos-this-for
            h3 Order Review
        p=teamname
        h4 Team Members
  .container
    -for (i=0; i<teammembers.length; i++){
      .col-md-6
        p.btn-circle=teammembers[i].initials
        p=teammembers[i].firstname+" "+teammembers[i].lastname
        p=teammembers[i].email      
        .switch
          input.cmn-toggle.cmn-toggle-round-flat(type='checkbox' id="cmn-toggle-"+i)
          |   
          label(for='cmn-toggle-'+i)
     -}
