extends ../layoutloggedin

block content
  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          
          h4#myModalLabel.modal-title Team Deletion
              
        .modal-body
          h5 Do you want to permanently delete this team?
              
        .modal-footer
          button.btn#DeleteTeamBtn(type='button' data-dismiss="modal") Yes
          button.btn#DontDelete(type='button' data-dismiss="modal") No
          
  .container
        .row.whos-this-for
          col-md-12.whos-this-for
            h3 Who Is This For
        .container
          .row.who-its-for
              .col-md-6.teamGroupButton
                    a.btn(href="/createteam")
                      | + Add New Team
              - for teams in user.teams.reverse()
                  div.col-md-6(data-teamid='#{teams._id}')
                    .namedTeamWithMembers
                      div.topRow
                        div.col-xs-7.teamName
                         a(href="/teams/"+teams.teamname+"/orderdetails")=teams.teamname 
                        div.col-xs-5.editBtns
                         a(href="#Edit") 
                          img(style="width:20px;" src='/img/edit.png') 
                         a(href="#Copy") 
                          img(style="width:20px;" src='/img/copy.png') 
                         a(href="#Delete") 
                          img.delete(style="width:20px;" src='/img/delete.png' data-toggle='modal', data-target='#myModal', data-id='#{teams._id}') 
                      hr    
                      div.bottomRow
                        - for member in teams.members
                          a.circleholder(href="/teams/"+teams.teamname+"/orderdetails")
                            p.btn-circle=member.initials
                          
                  //- div.col-md-6
                  //-   .namedTeamWithMembers
                  //-     div.topRow
                  //-       div.col-xs-7.teamName
                  //-        a(href="#TeamSelect") 
                  //-         |Multidisciplinary OSP (7)
                  //-       div.col-xs-5.editBtns
                  //-        a(href="#Edit") 
                  //-         img(style="width:20px;" src='img/edit.png') 
                  //-        a(href="#Copy") 
                  //-         img(style="width:20px;" src='img/copy.png') 
                  //-        a(href="#Delete") 
                  //-         img(style="width:20px;" src='img/delete.png') 
                  //-     hr    
                  //-     div.bottomRow
                  //-       a.circleholder(href="#TeamSelect")
                  //-         p.btn-circle
                  //-           |mb
                  //-         p.btn-circle
                  //-           | mb
                  //-         p.btn-circle
                  //-           | bs
                  //-         p.btn-circle
                  //-           |mb
                  //-         p.btn-circle
                  //-           |mb
                  //-         p.btn-circle
                  //-           | mb
                  //-         p.btn-circle
                  //-           | bs
                  //-         p.btn-circle
                  //-           |mb
                  //-         p.btn-circle
                  //-           |mb
                  //-         p.btn-circle
                  //-           |mb
              - if (!user.teams.length){
                #TeamEmptyState.row
                  .row
                    .col-md-6.col-md-offset-3      
                      h3 Who's On Your Team
                  .row
                    .col-md-6.col-md-offset-3.your-team
                      img(id="AddMemberBackgroundImg" src='img/addmember@2x.png')
                      p  Tap “ + Add New Team” to get the party started!              
                - }
