#NavLoggedIn.nav.navbar.navbar-default(role='navigation')
  ul.navbar-nav.navbar-left
    li
      a(href='#')
        img(style='width: 50px; margin:0; height:auto;' src='/img/logo_navbar_invert.png')
  |   &#x9;
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
      span.sr-only Toggle navigation
      |         
      span.icon-bar
      |         
      span.icon-bar
      |         
      span.icon-bar
  |   
  |    
  a.centerlogo(href='#')
    img(src='/img/logologgedin@2x.png')
  #navbar-collapse-1.collapse.navbar-collapse
    ul.nav.navbar-nav.navbar-right
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          if user.profile.picture
            img(src='#{user.profile.picture}')
          else
            img(src='#{user.gravatar(60)}')
          | #{user.profile.name || user.email || user.id}&nbsp;
          i.caret
          //- b.caret
        |          
        ul.dropdown-menu
          li
            a(href='/account') My Account
          |            
          //- li.divider
          |            
          li
            a(href='/logout') Log out
            
            
