extends layout

block content
    #Home.jumbotron
      #Top.container
        .row
          .col-md-4.col-md-offset-4.splash
            img.img-responsive.center-block(src='img/logo.png')

    #OurMission.container
      .row
        h2.col-md-12 Our Mission
      .row
        .col-md-6.col-md-offset-3
          | Gather believes that great lunch means great culture. We take the work out of lunch at work, making it simple to order for teams. Lunch should be a much needed break in the day. Let’s make that happen.
   
    .container
      .row
        h2.col-md-12 Features
      .row
        .col-md-4
          h3 Healthy & High Quality Food
          img.img-responsive.center-block(src='img/square.jpg')
          p
            | Gather curates a daily menu, sourcing high quality and nutiritous food for you and your team.
        .col-md-4
          h3 Simple Group Ordering
          img.img-responsive.center-block(src='img/square.jpg')
          p
            | Our ‘food mood’ selection process makes it easy to choose food that suits the entire team.
        .col-md-4
          h3 Ready for Sharing
          img.img-responsive.center-block(src='img/square.jpg')
          p
            | We don’t just deliver, we set up your lunch family stlye so you can spend more time enjoying, and less time prepping.
    
    #HowItWorks.container
      .row
        h2.col-md-12 How it Works
      .row
        .col-md-8
          h3 Log On & Pick Your Team
          p
            | Log on to Gather and invite your team members to lunch by simply adding their e-mail and select the time you want to eat.
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
      .row
        .col-md-8
          h3 Choose your food mood
          p
            | Team members recieve an e-mail and are asked their ‘food mood’ (hearty, health, light or comforting).
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
      .row
        .col-md-8
          h3 Gather does its Magic
          p
            | Based on the food moods of the team, Gather’s ‘food mood’ algorithm curates dishes that are designed to meet the needs of the entire team.
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
      .row
        .col-md-8
          h3 Enjoy a team lunch
          p
            | Gather will deliver the food and set the table for the team. Food is served family style to encourage sharing and conversation.
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
      .row
        .col-md-8
          h3 No Washing Up!
          p
            | At the end of lunch, simply put the empty dishes in the box provided and we will come pick them up, allowing you to get back to work.
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')

    .container
      .row
        h2.col-md-12 Our Partners
      .row
        .col-md-6.col-md-offset-3
          | We have worked hard to find partners who believe in our mission and can deliver high qaulity, healthy lunch options. We’re creating our A-team to feed your A-team.
      .row
        h3.col-md-12 Here’s a Sample of Just Some of Our Partners:
      .row
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Meatball Shop
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Haldi
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Oaxaca Taqueria
      .row
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Taim
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Bangkok B.A.R.
        .col-md-4
          img.img-responsive.center-block(src='img/square.jpg')
          h4 Poulette    
    if !user
      #Signup.page-header        
        h3 Sign up
      form.form-horizontal(id='signup-form', method='POST' action='/signup')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label.col-sm-3.control-label(for='email') Email
          .col-sm-7
            input.form-control(type='email', name='email', id='email', placeholder='Email')
        .form-group
          label.col-sm-3.control-label(for='password') Password
          .col-sm-7
            input.form-control(type='password', name='password', id='password', placeholder='Password')
        .form-group
          label.col-sm-3.control-label(for='confirmPassword') Confirm Password
          .col-sm-7
            input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
        .form-group
          .col-sm-offset-3.col-sm-7
            button.btn.btn-success(type='submit')
              i.fa.fa-user-plus
              | Signup
                
