extends layout

block content
  #Home.jumbotron
    #Top.container
      .row
        .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.splash
          img.img-responsive.center-block(src='img/logo.png')
  
  #OurMission.container.section
    .row
      .col-md-12
        h2 Our Mission
    .row
      .col-md-6.col-md-offset-3.blurb
        p
          | Gather believes that great lunch builds great culture. We take the work out of lunch at work, making it simple to order for teams. Lunch should be a much needed break in the day.
          br
          br
          | Let’s make that happen.

  #Features.container.section
    .row
      .col-md-12
        h2 Features
    .row
      .col-md-4.feature
        h3
          | Healthy &
          br
          |  High Quality Food
        img.img-responsive.center-block(src='img/healthy.png')
        p
          | Gather curates a daily menu, sourcing high quality and nutritious food for you and your team. Our menus are designed for teams 6-10 people and cost $10 per person.
      .col-md-4.feature
        h3
          | Simple
          br
          |  Group Ordering
        img.img-responsive.center-block(src='img/simple.png')
        p
          | Our ‘food mood’ selection process makes it easy to choose food that suits the entire team.
      .col-md-4.feature
        h3
          | Ready
          br
          |  for Sharing
        img.img-responsive.center-block(src='img/ready.png')
        p
          | We don’t just deliver, we set up your lunch family style so you can spend more time enjoying, and less time prepping.

  #HowItWorks.container.section
    .row
      .col-md-12
        h2 How it Works
    .row.how-it-works
      .col-md-8.instruction
        h3 1. Log On & Pick Your Team
        p
          | Log on to Gather and invite your team members to lunch by simply adding their e‑mail and select the time you want to eat.
      .col-md-4.img-instruction
        img(src='img/instruction1.png')
    .row.how-it-works
      .col-md-8.instruction
        h3 2. Choose your food mood
        p
          | Team members receive an e-mail and are asked their ‘food mood’ (hearty, healthy, light or comforting).
      .col-md-4.img-instruction
        img(src='img/instruction2.png')
    .row.how-it-works
      .col-md-8.instruction
        h3 3. Gather does its Magic
        p
          | Based on the food moods of the team, Gather’s ‘food mood’ algorithm curates dishes that are designed to meet the needs of the entire team.
      .col-md-4.img-instruction
        img(src='img/instruction3.png')
    .row.how-it-works
      .col-md-8.instruction
        h3 4. Enjoy a team lunch
        p
          | Gather will deliver the food and set the table for the team. Food is served family style to encourage sharing and conversation.
      .col-md-4.img-instruction
        img(src='img/instruction4.png')
    .row.how-it-works
      .col-md-8.instruction
        h3 5. No Washing Up!
        p
          | At the end of lunch, simply put the empty dishes in the box provided and we will come pick them up, allowing you to get back to work.
      .col-md-4.img-instruction
        img(src='img/instruction5.png')
        
  #Partners.container.section
    .row
      .col-md-12
        h2 Our Partners
    .row
      .col-md-6.col-md-offset-3.blurb
        p
          | We have worked hard to find partners who believe in our mission and can deliver high quality, healthy lunch options. We’re creating our A‑team to feed your A‑team.
    .row.sample-partners
      h3.col-md-12 Here’s a Sample of Just Some of Our Partners:
    .row
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/meatball.jpg')
        h4 Meatball Shop
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/haldi.jpg')
        h4 Haldi
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/oaxaca.jpg')
        h4 Oaxaca Taqueria
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/laut.jpg')
        h4 Laut
    .row
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/taim.jpg')
        h4 Taim
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/bangkok.jpg')
        h4 Bangkok B.A.R.
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/poulette.jpg')
        h4 Poulette
      .col-md-3.col-sm-3.col-xs-6
        img.img-responsive.center-block.partner(src='img/partners/greyscale/mq.jpg')
        h4 Might Quinn's
          
        
           
  if !user
    #Signup.page-header        
      h3 Sign up
        .container
          .row
            form.form-horizontal.col-md-6.col-md-offset-3(id='signup-form', method='POST' action='/signup')
              input(type='hidden', name='_csrf', value=_csrf)
              #EmailGroup.form-group
                input.form-control(type='email', name='email', id='email', placeholder='Enter your Email')
              .form-group
                .col-md-6
                  input.form-control(type='password', name='password', id='password', placeholder='Password')
                .col-md-6
                  input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password')
              .form-group
                .col-md-6
                  input.form-control(type='text', name='userfirstname', id='userFirstname', placeholder='First Name')    
                .col-md-6
                  input.form-control(type='text', name='userlastname', id='userLastname', placeholder='Last Name')
              .form-group.signupholder
                  button#SignupBtn.btn.col-md-12(type='submit')
                    | Signup
                    
