@import url("../fonts/stylesheet.css");

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

.section {
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  padding: 18px 0 14px 0;
  text-align: center;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: #fff;
  /* height: 40px; */
}

/* Flip around the padding for proper display in narrow viewports */

.navbar .container {
  width: auto;
  height:60px;

  /* Text Styling: */
  font-family: roboto_condensedregular;
  font-size: 16px;
  color: #1C3C4A;
  letter-spacing: 1px;
  line-height: 16px;
}
.navbar-header{
  height:60px;
}

.navbar-brand img {
  height: 40px;
  margin-top: -5px;
}

.navbar-toggle .icon-bar {
  height: 3px;
}

.nav.navbar-nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav.navbar-nav li{
  height:60px;
  padding-top: 5px;
  background-color: #f8f8f8;
}

.nav.navbar-nav li a{
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
  color:#333;
}

.nav input{
  margin-top:10px;
  border-radius:0px;
  border:none;
  background-color:#F2F2F2;
  color:#8C8C8C;
}

.nav #btnLogin{
  background-color:transparent;
  border-radius:0px;
  border:0px;
  box-shadow:None;
  font-size:18px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#ForgotLink{
  padding: 0px;
  color:#8C8C8C;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/* CUSTOMIZE THE SPLASH
-------------------------------------------------- */

.jumbotron {
  padding: 0;
  height: 500px;
  background: url(../img/splash.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.splash {
  /*background-color: #1C3C4A;*/
  height: 500px;
  text-align: center;
}


.splash img {
    width: 80%;
    max-width: 250px;
    padding-top: 110px;
}

/* HEADERS
-------------------------------------------------- */

h2 {
    font-family: roboto_condensedbold;
    font-size: 32px;
    color: #1C3C4A;
    letter-spacing: 1px;
    line-height: 40px;
    text-transform: uppercase;
    display: table;
    margin: auto;
    border-bottom: 6px solid #D8D8D8;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
  font-family: roboto_condensedregular;
  font-size: 24px;
  color: #1C3C4A;
  line-height: 24px;
  text-align: center;
}

h4 {
  font-family: roboto_condensedregular;
  font-size: 16px;
  letter-spacing: 1px;
  color: #123D34;
  line-height: 24px;
  text-align: center;
}

p {
  font-family: montserratlight;
  font-size: 16px;
  color: #123D34;
  line-height: 24px;
  text-align: center;
}

.feature img {
  padding: 20px 0 30px 0;
  width: 40%;
}

.feature p{
  padding: 0 25px;
}

.how-it-works {
  background-color: #F2F2F2;
  margin: 30px 0;
  text-align: right;
}

.how-it-works h3{
  text-align: left;
}

.how-it-works p{
  text-align: left;
}

.how-it-works .instruction {
  padding: 60px 50px 0 50px;
}

.how-it-works img {
  width: 100%;
}

.img-instruction {
  padding-right: 0;
}

#partners {
  margin-top: 0;
}

.sample-partners {
  margin-top: 20px;
}

.partner {
  width: 110px;
  margin-top: 60px;
}

.signup {
  background: #1C3C4A;
}

#form-wrapper {
  padding: 30px 0;
  display: table;
  margin: auto;
  min-height: 120px;
}

select {
  font-family: montserratlight;
  color: #123D34;
  font-size: 16px;
  line-height: 24px;
  display: block;
  width: 320px;
  margin: auto;
  margin-bottom: 60px;
  margin-top: -20px;

}

.ss-q-short {
  width: 320px;
  height: 60px;
  border: none;
  font-size: 16px;
  padding-left: 20px;
}

.jfk-button {
  font-family: roboto_condensedregular;
  font-size: 24px;
  color: #FFFFFF;
  margin-left: 10px;
}

.jfk-button:hover {
  font-family: roboto_condensedregular;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.jfk-button:focus {
  font-family: roboto_condensedregular;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

#form-wrapper p{
  font-family: roboto_condensedregular;
  font-size: 30px;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin-top: 15px;

}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    /* margin-top: 20px; */
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {

}

@media (max-width: 1200px) {
  .how-it-works .instruction {
    padding: 30px 50px 0 50px;
  }
}

@media (max-width: 992px) {
  .how-it-works img {
    margin-top: -20px;
    width: 60%;
  }

  .how-it-works .instruction {
    padding: 15px 20px 0 20px;
  }

  .feature h3 {
    margin-top: 50px;
  }

  .ss-q-short {
    width: 260px;
  }

  .jfk-button {
    font-size: 21px;
  }

  .jfk-button:hover {
    font-size: 21px;
  }

  #form-wrapper p{
    font-size: 21px;

  }

}
}
